*{margin: 0;
  padding: 0;
}

body{ background-color: #111320;
    font-family: 'Inconsolata', monospace;
    color: white
}

h2{ text-align: center;
    padding-bottom: 2rem;
    font-size: xx-large;
}

.naranja{
    color: #d76627;
}

.cyan{
    color: #61DAFB;
}

header{ display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    font-size: large;
}

.imagenes_derecha{
    display: flex;
    align-items: center;
  
}

.listamenu{ display: flex;
    list-style: none;  
}

li{ margin-right: 2rem;
    color: white;
}

.listamenu a {
    color: white;
    text-decoration: none;
}

.listamenu a:hover {
    text-decoration: underline;
    color: #d76627;
}

.logomc{ width: 3rem;
}

.logolinkedin{ width: 1.5rem;
    margin-right: 1rem;
}

.logogithub{ width: 1.5rem;
    margin-right: 1rem;
}

.boton_contactame{ color: white;
    cursor: pointer;
    border-radius: 0.2rem;
    background: transparent;
    border: 1px solid #d76627;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-family: 'Inconsolata', monospace;
    font-size: large;
    transition: transform 0.2s ease-in-out;
}

.boton_contactame:hover {
    transform: scale(1.1);
  }

/*HERO*/

.hero{ display: flex;
width: 100vw;
height: 90vh;
justify-content: space-evenly;
border-bottom: 0.2rem solid #d76627;
}

.textohero{ line-height: 4rem;
    padding-top: 15rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.linea_uno{ font-size: 2.5rem;
}

.linea_dos{ font-size: 4rem;
}

.linea_tres{ font-size: 2.5rem;
}

.imgprincipal{ max-height: 90vh;
    margin-right: 3rem;
    filter: drop-shadow(0 0 50px #d76627);
}

/*INFORMACION*/

.informacion{ margin-top: 2.5rem;
    padding: 4rem;
    color: white;
}

.contenedordivs_info{ padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.divinfo_uno{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #61DAFB;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
}

.divinfo_dos{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    border: 0.2rem solid #d76627;
    border-radius: 1rem;
    padding: 0.5rem;
    transform: scale(120%);
    box-sizing: border-box;
    width: 300px;
    height: 300px;
}

.divinfo_tres{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #61DAFB;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
}

.contenedordivs_info img{
    max-width: 65%;
    max-height: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*HABILIDADES*/

.habilidades{padding: 2rem;   
}

.contenedorimg_habilidades{ padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorimg_habilidades img {
   width: 15rem;
   height: 15rem;
}

.html_logo{
    background-color: #2d303d;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.logocss{
    background-color: #2d303d;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-left: 2rem;
    margin-right: 2rem;
}

.logojs{
    background-color: #2d303d;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}


/*EXPERIENCIA*/

.experiencia{
    background-color: olive;
    padding: 3rem;
}

.experiencia_uno{
    margin-left: 53rem;
    padding: 4rem;
}

.experiencia_dos{
    margin-left: 17rem;
    padding: 4rem;
}

.experiencia_tres{
    margin-left: 53rem;
    padding: 4rem;
}
  
/*WORK TOGETHER*/

.worktogether{
    background-color: salmon;
    padding: 3rem;
}

.titulo_grande{
    text-transform: uppercase;
    font-size: 3rem;
}

.formulario{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*FOOTER*/

footer{
    padding: 3rem;
}

.contenedorimg_footer{
    display: flex;
    justify-content: center;
}

