html{
    scroll-behavior: smooth;
}

*{margin: 0;
  padding: 0;
}

body{ background-color: #111320;
    font-family: 'Inconsolata', monospace;
    color: white
}

h2{ text-align: center;
    padding-bottom: 2rem;
    font-size: xx-large;
}

.naranja{
    color: #d76627;
}

.cyan{
    color: #61DAFB;
}

.blanco{
    color: white;
}

header{ display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    padding: 1rem;
    font-size: large;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.imagenes_derecha{
    display: flex;
    align-items: center;
  
}

.listamenu{ display: flex;
    list-style: none;  
}

li{ margin-right: 2rem;
    color: white;
}

.listamenu a {
    color: white;
    text-decoration: none;
}

.listamenu a:hover {
    text-decoration: underline;
    color: #d76627;
}

.logomc{ width: 3rem;
}

.logolinkedin{ width: 1.5rem;
    margin-right: 1rem;
}

.logogithub{ width: 1.5rem;
    margin-right: 1rem;
}

.boton_contactame{ color: white;
    cursor: pointer;
    border-radius: 0.2rem;
    background: transparent;
    border: 1px solid #d76627;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-family: 'Inconsolata', monospace;
    font-size: large;
    transition: transform 0.2s ease-in-out;
}

.boton_contactame:hover {
    transform: scale(1.1);
  }

  .miclase{
    display: none;
  }

/*HERO*/

main{
    padding-top: 10%;
}

.hero{ display: flex;
width: 100vw;
height: 90vh;
justify-content: space-evenly;
border-bottom: 0.2rem solid #d76627;
}

.textohero{ line-height: 4rem;
    padding-top: 15rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.linea_uno{ font-size: 2.5rem;
}

.linea_dos{ font-size: 4rem;
}

.linea_tres{ font-size: 2.5rem;
}

.imgprincipal{ max-height: 90vh;
    margin-right: 3rem;
    filter: drop-shadow(0 0 50px #d76627);
}

/*INFORMACION*/

.informacion{ margin-top: 2.5rem;
    padding: 4rem;
    color: white;
}

.contenedordivs_info{ padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.divinfo_uno{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #61DAFB;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    transition: transform 0.2s ease-in-out;
}

.divinfo_dos{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    border: 0.2rem solid #d76627;
    border-radius: 1rem;
    padding: 0.5rem;
    transform: scale(120%);
    box-sizing: border-box;
    width: 300px;
    height: 300px;
}

.divinfo_tres{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #61DAFB;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    transition: transform 0.2s ease-in-out;
}

.divinfo_uno:hover {
    transform: scale(1.1);
  }

.divinfo_tres:hover {
    transform: scale(1.1);
  }

.contenedordivs_info img{
    max-width: 65%;
    max-height: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*HABILIDADES*/

.habilidades{ padding: 2rem;   
}

.contenedorimg_habilidades{ padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorimg_habilidades img {
   width: 9rem;
   height: 9rem;
}

.html_logo{
    background-color: #24283a;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.logocss{
    background-color: #24283a;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-left: 2rem;
    margin-right: 2rem;
}

.logojs{
    background-color: #24283a;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/*EXPERIENCIA*/

.timeline_items {
    position: relative;
  }
  
  .timeline_items::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #d76627;
    transform: translateX(-50%);
  }
  
  .timeline_itemuno,
  .timeline_itemdos,
  .timeline_itemtres {
    position: relative;
    padding-left: 30px;
  }
  
  .timeline_itemuno::before,
  .timeline_itemdos::before,
  .timeline_itemtres::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d76627; 
    transform: translate(-50%, -50%);
  }

.experiencia{padding: 4rem;
}

.timeline_date {
    margin: 3rem 0rem 1rem;
    background-color: #d76627;
    width: fit-content;
}

.timeline_contenido {
    font-size: larger;
    display: inline-block;
    line-height: 1.5rem;
}
  
.timeline_itemuno{
    padding-left: calc(55% + 30px)
}

.timeline_itemdos{
    padding-left: calc(20% + 30px)
}

.timeline_itemtres{
    padding-left: calc(55% + 30px)
}

h4{
    color: #61DAFB;
}

ul{
    margin-left: 1rem;
    font-size: medium;
}

.texto_experiencias{
    line-height: 3.1rem;
    font-size: medium;
}

/*WORK TOGETHER*/

.worktogether{
    padding: 2rem;
}

.titulo_grande{
    text-transform: uppercase;
    font-size: 3rem;
    color: #d76627;
}

input{ background-color: #111320;
    border: none;
    border-radius: 0;
    color: white;
    margin-bottom: 3rem;
    font-size: medium;
    font-family: 'Inconsolata', monospace;
    text-decoration: underline;
    text-decoration-color: #61DAFB;
}

.formulario{ padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

textarea{ background-color: #111320;
    color: white;
    font-size: large;
    width: 20rem;
    height: 10rem;
    border: 0.1rem solid #61DAFB;
    border-radius: 0.2rem;
    font-family: 'Inconsolata', monospace;
}

.boton_enviar{ background-color: #d76627;
    margin-top: 1.5rem;
    margin-left: 15rem;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1px;
    text-decoration: none;
}

.boton_enviar:hover{
cursor: pointer;
}

/*FOOTER*/

footer{ padding-top: 3rem;
    color: #d76627; 
}

.contenedorimg_footer{ display: flex;
    justify-content: center;
}

.loguitos{ width: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.irainicio{ padding-top: 2rem;
    padding-bottom: 1rem;
    color: #d76627;
    display: flex;
    justify-content: right;
    margin-right: 5rem;
}

.background-container{
    background-image: url("../img/circulos.png");
    background-repeat: repeat-x;
    background-size: 130%;
    background-position-x: 50rem;
    background-position-y: -9rem;
}

/*MEDIAQ*/

@media (max-width:767px){

    nav{
        display: none;
    }

    .imagenes_derecha{
        display: none;
    }

    .hero{
        width: 100vw;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        padding-top: 10%;
    }

    .textohero{
        padding: 0%;
    }

    .imgprincipal{
        max-width: 100%;
        margin-right: 0%;
    }

    .linea_uno{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linea_dos{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linea_tres{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

        
    .contenedordivs_info{
        flex-direction: column;
        align-items: center;
    } 

    .divinfo_dos{
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-right: 0%;
        margin-left: 0%;
        transform: none;
    }

    .timeline_items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logomc{
        display: none;
    }

    .timeline_itemuno,
    .timeline_itemdos,
    .timeline_itemtres {
      position: relative;
      padding-left: 30px;
    }

    .timeline_itemuno::before,
    .timeline_itemdos::before,
    .timeline_itemtres::before {
       content: none;
    }

    .timeline_items::after {
        left: 0%;
    }

    .background-container{
        background-position-x: center;
        background-size: 200%;
        background-position-y: 27rem;
    }

    .miclase{
        display: flex;
    }

    .contenedorimg_habilidades{
        flex-wrap: wrap;
        
    }

    .worktogether{
        padding: 0rem;
    }
      
    .boton_enviar{
        margin-left: 2%;
    }

    .header{
        width: 100%;
    }

}    